<footer class="flex flex-col justify-center items-center w-screen h-[340px] bg-[#EDE2DE] text-black text-sm">
    <img src="{{ MEDIA_URL }}/mutiara_logo.png" alt="Mutiara Wedding" class="min-w-xl">
    <p>Copyright &copy; 2024 Mutiara Wedding. All rights reserved.</p>
    <div class="flex flex-row justify-center items-center gap-8 mt-4">
        <i class="fab fa-instagram text-3xl bg-black/10 p-2 rounded-full"></i>
        <i class="fab fa-dribbble text-3xl bg-black/10 p-2 rounded-full"></i>
        <i class="fab fa-twitter text-3xl bg-black/10 p-2 rounded-full"></i>
        <i class="fab fa-youtube text-3xl bg-black/10 p-2 rounded-full"></i>
    </div>
</footer>