<nav class="flex flex-row justify-between items-center w-screen h-[130px] text-sm px-8 font-thin">
    <ul class="">
        <img src="{{ MEDIA_URL }}/mutiara_logo.png" alt="Mutiara Wedding">
    </ul>
    <ul class="flex flex-row justify-center gap-8">
        <li>
            Home
        </li>
        <li>
            About
        </li>
        <li>
            Gallery
        </li>
        <li>
            Team
        </li>
        <li>
            Services
        </li>
    </ul>
    <ul>
        <li class="bg-[#7A5C54] text-white p-4 rounded">
            Book Now
        </li>
    </ul>
</nav>